OPENAI_API_KEY=
COHERE_API_KEY=
OPENAI_CHAT_MODEL="gpt-5.5"
OPENAI_EMBEDDING_MODEL="text-embedding-3-small"

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="capstone_project2"

GUARDRAILS_API_KEY=

PGVECTOR_COLLECTION_NAME=KB_Credit_Card_Spend_Summarizer.pdf


DATABASE_URL=postgresql://postgres:...
 
PG_CONNECTION_STRING_FTS=postgresql://postgres:...
 
PG_CONNECTION_STRING=postgresql+psycopg://postgres:...
PG_RDBMS_CONNECTION_STRING=postgresql+psycopg://rag_readonly:....